@using Northwind.Models.Validation
@model Northwind.Models.Validation.Login     

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<tr>  
    @Html.LabelForModel(Model.Message)
</tr>

    @using (Html.BeginForm("Login", "Validation", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table>           

            <tr>
                @Html.LabelFor(s => s.Email)
            </tr>

            <tr>
                @Html.TextBoxFor(s => s.Email)
                @Html.ValidationMessageFor(s => s.Email)
            </tr>

            <tr>
                @Html.LabelFor(s => s.Password)
            </tr>

            <tr>
                @Html.PasswordFor(s => s.Password)
                @Html.ValidationMessageFor(s => s.Password)
            </tr>

            <tr>
                @Html.LabelFor(s => s.PasswordConfirm)
                @Html.PasswordFor(s => s.PasswordConfirm)
                @Html.ValidationMessageFor(s => s.PasswordConfirm)
            </tr>
        </table>
        <button type="submit" id="LoginID">Login</button>
    }

@using (Html.BeginForm("Register", "Validation", FormMethod.Get))
{
<div>
    
    <table>
        <tr>
            <button type="submit" id="RegisterID">Register</button>
        </tr>
    </table>
</div>
}